:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --off-white:  hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    width: 100%;
    background-color: var(--soft-orange);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}


a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    position: relative;
    color: var(--very-dark-blue);
}

a::before {
    content:"";
    position: absolute;
    bottom: 0;
    left:0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width .2s ease;
}

a:hover::before {
    width: 100%;
}

